CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE users (

  id INTEGER PRIMARY KEY AUTOINCREMENT,

  username TEXT UNIQUE NOT NULL,

  [password] TEXT NOT NULL,

  full_name TEXT NOT NULL,

  phone TEXT NOT NULL,

  [role] TEXT NOT NULL CHECK(role IN ('ADMIN')),

  zalo_link TEXT,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP

, [facebook_link] TEXT);
CREATE TABLE ranks (

  id INTEGER PRIMARY KEY AUTOINCREMENT,

  [type] TEXT NOT NULL

);
CREATE TABLE sale_accounts (

  id INTEGER PRIMARY KEY AUTOINCREMENT,

  [status] TEXT NOT NULL,

  price INTEGER NOT NULL,

  gmail TEXT NOT NULL,

  letter TEXT NOT NULL CHECK(letter IN ('Back', 'C├│')),

  [description] TEXT NOT NULL,

  avatar TEXT,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE IF NOT EXISTS "rules" (

  id INTEGER PRIMARY KEY AUTOINCREMENT,

  rent_acc_rules TEXT NOT NULL,

  commitment TEXT NOT NULL,

  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE IF NOT EXISTS "game_accounts" (

            id INTEGER PRIMARY KEY AUTOINCREMENT,

            acc_name TEXT NOT NULL,

            rank TEXT NOT NULL,

            game_code TEXT NOT NULL,

            [status] TEXT NOT NULL DEFAULT 'Rß║únh' CHECK ([status] IN ('Rß║únh', 'Bß║¡n', 'Check')),

            [description] TEXT,

            device_type TEXT NOT NULL CHECK (device_type IN ('M├íy nh├á', 'Tß║Ñt cß║ú')),

            avatar TEXT,

            created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

            updated_at DATETIME DEFAULT CURRENT_TIMESTAMP,

            rent_to_time DATETIME,

            rent_from_time DATETIME

        , acc_username TEXT);
