@keyframes app-loading-shapes {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }

  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    transform: scale(1.2);
    width: 60px;
    height: 60px;
  }

  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 60px;
    height: 60px;
  }

  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}

@keyframes notification-red-dot {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes arrows-animation {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(60px);
  }
  80% {
    opacity: 1;
    transform: translateY(240px);
  }
  100% {
    opacity: 0;
    transform: translateY(300px);
  }
}

@keyframes hero-section-text-animation {
  0% {
    transform: translate(-80px) scale(0.3);
    opacity: 0;
  }
  25% {
    transform: translate(50px) scale(0.7);
    opacity: 1;
  }
  50% {
    transform: translate(0px) scale(2);
    opacity: 0;
  }
  75% {
    transform: translate(0px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(0px) scale(1);
    opacity: 1;
  }
}
