:root {
  --vcn-regular-gradient-dark-cl: linear-gradient(135deg, #00bfff, #87ceeb);
  --vcn-regular-blue-1: #00bfff;
  --vcn-regular-blue-2: #00202a;
  --vcn-regular-blue-3: #004055;
  --vcn-regular-blue-4: #006080;
  --vcn-regular-blue-5: #007faa;
  --vcn-regular-blue-6: #009fd4;
  --vcn-regular-blue-cl: var(--vcn-regular-gradient-dark-cl);
}
