@use "colors.scss";

[hidden] {
  display: none;
}

body {
  min-height: 100vh;
  background-image: var(--vcn-regular-gradient-dark-cl);
}

svg {
  display: flex;
}

input,
textarea {
  border: none;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.CSS-vertical-divider {
  width: 2px;
  height: 20px;
  background-color: #6b7280;
}

@mixin CSS-button-decoration($color) {
  display: flex;
  background-image: url("/images/UI/button-decoration.png");
  background-size: 2px;
  transition: color 0.4s ease-in-out, text-shadow 0.4s ease-in-out,
    background-color 0.4s ease-in-out;
  border: 1.5px solid #ffffff46;
  background-color: #0d161c;
  color: $color;
  font-weight: bold;
  position: relative;
  border-radius: 6px;
  height: fit-content;
  gap: 6px;

  &::before {
    width: 100%;
    content: "";
    height: 2px;
    display: block;
    position: absolute;
    background-image: linear-gradient(
      to right,
      rgba(250, 250, 250, 0.5),
      $color 20%,
      $color 80%,
      rgba(250, 250, 250, 0.5)
    );
    box-shadow: 0px 0px 10px;
    top: -1px;
    left: 0;
    color: $color;
    text-shadow: 0px 0px 10px #ffffff;
    transition: transform ease 0.8s;
    transform: scaleX(0);
  }
  &::after {
    width: 100%;
    content: "";
    height: 2px;
    display: block;
    position: absolute;
    background-image: linear-gradient(
      to right,
      rgba(250, 250, 250, 0.5),
      $color 20%,
      $color 80%,
      rgba(250, 250, 250, 0.5)
    );
    left: 0;
    bottom: -1px;
    top: initial;
    transition: transform ease 0.8s;
    transform: scaleX(0);
    box-shadow: 0px 0px 10px;
  }

  &:hover {
    color: $color;
    text-shadow: 0px 0px 20px $color;
    background-color: #242424;

    &::before {
      transform: scaleX(1);
    }

    &::after {
      transform: scaleX(1);
    }
  }

  &.CSS-is-active {
    color: $color;
    text-shadow: 0px 0px 20px $color;
    background-color: #242424;

    &::before {
      transform: scaleX(1);
    }

    &::after {
      transform: scaleX(1);
    }
  }
}

.CSS-button-blue-decoration {
  $color: #67c2ff;
  @include CSS-button-decoration($color);
}

.CSS-button-white-decoration {
  $color: #ffffff;
  @include CSS-button-decoration($color);
}

.CSS-button-red-decoration {
  $color: #ff0000;
  @include CSS-button-decoration($color);
}
