#hide-show-password-section {
  &.QUERY-hide-password {
    .QUERY-show-password-btn {
      display: none;
    }
  }

  &.QUERY-show-password {
    .QUERY-hide-password-btn {
      display: none;
    }
  }
}
