.CSS-regular-acc-state-cl {
  background-color: var(--vcn-regular-acc-state-cl);
}

#load-more-container {
  &.QUERY-is-more {
    display: block;
  }

  &.QUERY-no-more {
    display: none;
  }
}

#arrows-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7.8vw;
  overflow: visible;

  .arrow {
    width: 3.9vw;
    height: 3.9vw;
    border: 1.9vw solid;
    border-color: var(--vcn-regular-blue-cl) transparent transparent var(--vcn-regular-blue-cl);
    transform: rotate(-135deg);
  }

  .arrow-sliding {
    position: absolute;
    -webkit-animation: arrows-animation 2s linear infinite;
    animation: arrows-animation 2s linear infinite;
    opacity: 0;
  }

  .delay1 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .delay2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
}

.STATE-account-avatar-on-responsive {
  width: max-content;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
.STATE-account-avatar-wrapper-on-responsive {
  padding: 40px 100px;

  @media screen and (max-width: 600px) {
    padding: 40px 20px;
  }
}

.CSS-account-card-animate-scaling {
  animation: animate-scaling 0.5s linear infinite backwards;

  @keyframes animate-scaling {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
}

.CSS-account-card-animate-shine-box {
  .CSS-account-card-animate-shine {
    $shine-thickness: 6px;
    $shine-distance: -8px;

    position: absolute;
    background: linear-gradient(
      to right,
      transparent,
      var(--vcn-regular-acc-state-cl),
      transparent
    );
    animation: animate-shine 0.5s linear infinite;

    &.shine-top {
      top: $shine-distance;
      left: 0;
      height: $shine-thickness;
      width: 50%;
      animation-name: animate-shine-left-to-right;
    }

    &.shine-right {
      top: 0;
      right: $shine-distance;
      width: $shine-thickness;
      height: 50%;
      animation-name: animate-shine-top-to-bottom;
      background: linear-gradient(
        to bottom,
        transparent,
        var(--vcn-regular-acc-state-cl),
        transparent
      );
      animation-delay: 1s;
      opacity: 0;
    }

    &.shine-bottom {
      bottom: $shine-distance;
      left: 0;
      height: $shine-thickness;
      width: 50%;
      animation-name: animate-shine-right-to-left;
      animation-delay: 2s;
      opacity: 0;
    }

    &.shine-left {
      top: 0;
      left: $shine-distance;
      width: $shine-thickness;
      height: 50%;
      animation-name: animate-shine-bottom-to-top;
      background: linear-gradient(
        to bottom,
        transparent,
        var(--vcn-regular-acc-state-cl),
        transparent
      );
      animation-delay: 3s;
      opacity: 0;
    }
  }

  @keyframes animate-shine-left-to-right {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 1;
    }
  }

  @keyframes animate-shine-right-to-left {
    0% {
      transform: translateX(100%);
      opacity: 1;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes animate-shine-top-to-bottom {
    0% {
      transform: translateY(0%);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 1;
    }
  }

  @keyframes animate-shine-bottom-to-top {
    0% {
      transform: translateY(100%);
      opacity: 1;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}
