.CSS-regular-acc-state-cl {
  background-color: var(--vcn-regular-acc-state-cl);
}

#load-more-container {
  &.QUERY-is-more {
    display: block;
  }

  &.QUERY-no-more {
    display: none;
  }
}

#arrows-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7.8vw;
  overflow: visible;

  .arrow {
    width: 3.9vw;
    height: 3.9vw;
    border: 1.9vw solid;
    border-color: var(--vcn-regular-blue-cl) transparent transparent var(--vcn-regular-blue-cl);
    transform: rotate(-135deg);
  }

  .arrow-sliding {
    position: absolute;
    -webkit-animation: arrows-animation 2s linear infinite;
    animation: arrows-animation 2s linear infinite;
    opacity: 0;
  }

  .delay1 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .delay2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
}

.STATE-account-avatar-on-responsive {
  width: max-content;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
.STATE-account-avatar-wrapper-on-responsive {
  padding: 40px 100px;

  @media screen and (max-width: 600px) {
    padding: 40px 20px;
  }
}
